.content-meta {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--darkgray);
  text-align: right;

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
